<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">UserName</label>
          <input formControlName="username" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleFormControlInput2">
        </div>
        <span *ngIf="alert" style="color: red">{{alert}}</span>
        <br>
        <button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
