<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Music player</title>

<div class="player" >
  <!-- Dashboard -->
  <div class="dashboard">
    <!-- Header -->
    <header>
      <h4>Now playing:</h4>
      <h2>String 57th & 9th</h2>
    </header>

    <!-- CD -->
    <div class="cd">
      <div class="cd-thumb">
      </div>
    </div>

    <!-- Control -->
    <div class="control" >
      <div class="btn btn-repeat">
        <mat-icon>repeat</mat-icon>
      </div>
      <div class="btn btn-prev">
        <mat-icon>skip_previous</mat-icon>
      </div>
      <div class="btn btn-prev">
        <mat-icon>play_circle_outline</mat-icon>
      </div>
      <div class="btn btn-next">
        <mat-icon>skip_next</mat-icon>
      </div>
      <div class="btn btn-random">
        <mat-icon>shuffle</mat-icon>
      </div>
    </div>

    <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">

    <audio id="audio" [src]="currentSong" #audioElement autoplay></audio>
  </div>

  <div class="playlist" >
    <div class="song" *ngFor="let s of songs;index as i" >
    <div class="thumb"
         [style]="'background-image: url('+[s.image]+')'" >
    </div>
    <div class="body">
      <h3 class="title">{{s.name}}</h3>
      <p class="author">{{s.singer}}</p>
    </div>
    <div class="option">
      <mat-icon>more_horiz</mat-icon>
    </div>
  </div>
  </div>
</div>

