<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Music player</title>

<div class="player" >
  <!-- Dashboard -->
  <div class="dashboard">
    <div class="control" >
      <div class="btn btn-repeat">
        <mat-icon>repeat</mat-icon>
      </div>
      <div class="btn btn-prev">
        <mat-icon>skip_previous</mat-icon>
      </div>
      <div class="btn btn-prev">
        <mat-icon (click)="play()">play_circle_outline</mat-icon>
      </div>
      <div class="btn btn-next">
        <mat-icon>skip_next</mat-icon>
      </div>
      <div class="btn btn-random">
        <mat-icon>shuffle</mat-icon>
      </div>
    </div>
    <div class="slidecontainer">
      <input type="range" min="0" max="{{totalTime}}" value="{{currentTime}}" class="slider" #myRange (input)="setProsess(myRange)">
    </div>
  </div>

  <div class="playlist" >
    <div class="song" *ngFor="let s of songs;index as i" >
      <div class="thumb"
           [style]="'background-image: url('+[s.image]+')'" >
      </div>
      <div class="body">
        <h3 class="title">{{s.name}}</h3>
        <p class="author">{{s.singer}}</p>
      </div>
      <div class="option">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
  </div>
</div>
