<div class="container" >
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div style="margin-top: 20px;">
        <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name Song</label>
            <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Name Singer</label>
            <input formControlName="singer" type="text" class="form-control" id="exampleFormControlInput2">
          </div>
          <div class="mb-3">
            <label class="form-label">File mp3</label>
            <input formControlName="path" type="text" [(ngModel)]="downloadURL" style="display: none">
            <input formControlName="count" type="number" [(ngModel)]="count" style="display: none">
            <input formControlName="idAccount" type="number" [(ngModel)]="idAccounts" style="display: none">
            <input type="file" class="form-control" (change)="onFileChanged($event)" accept="audio/*">
            <mat-progress-bar *ngIf="checkUploadFile" mode="indeterminate"></mat-progress-bar>
          </div>
          <br>
          <button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
